@import "tailwindcss";

/* Global font smoothing for all themes */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply transition-all duration-75;
}

@theme {
  /* Typography */
  --font-body: "Satoshi";
  --font-system: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;

  /* Shared text sizes */
  --text-xxs: 0.6875rem;
  --text-xxs--line-height: calc(1 / 0.6875);

  /* Colors */
  --color-primary: theme(colors.gray.100);
  --color-body: theme(colors.gray.800);
  --color-muted: theme(colors.gray.500);
  --color-border: theme(colors.gray.300);
  --color-text: theme(colors.gray.100);
  --color-bg: theme(colors.white);
}

html {
  @apply h-dvh;
}

body {
  font-family: var(--font-body);
  color: var(--color-body);
  background: var(--color-bg);
  @apply h-dvh;
  @apply p-6;
}
